@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&family=Roboto:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.2s;
}

button {
  transition: 0.2s;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
}

@font-face {
  font-family: "Motter";
  src: url("../fonts/MotterCorpusStd-Regular.eot");
  src: local("☺"), url("../fonts/MotterCorpusStd-Regular.woff") format("woff"), url("../fonts/MotterCorpusStd-Regular.ttf") format("truetype"), url("../fonts/MotterCorpusStd-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 1242px;
  margin: 0px auto;
  padding: 0 15px;
}

.button {
  border-radius: 24px;
  border: none;
  cursor: pointer;
}

.header {
  padding: 17px 0;
}
.header .container-header {
  display: flex;
  justify-content: space-between;
}
.header__logo-link {
  font-size: 26px;
  color: #0B4141;
  font-family: "Motter";
  font-weight: 400;
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header .nav__list {
  display: flex;
  gap: 24px;
}
.header .nav__link {
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 600;
  color: #0B4141;
}
.header__button {
  color: #FFCCBC;
  background-color: #0B4141;
  margin-left: 48px;
  padding: 12px 43px;
}

.hero {
  position: relative;
  background-image: url("../images/hero/background-hero.png");
  background-repeat: no-repeat;
  padding: 120px 0 467px;
}
.hero .container-hero img {
  position: absolute;
  bottom: 0%;
}
.hero__title {
  color: #FFCCBC;
  font-family: "Motter";
  font-size: 120px;
  text-align: center;
  margin: 0px auto;
  max-width: 747px;
  position: relative;
}
.hero__title span {
  position: absolute;
  background: linear-gradient(180deg, #0B4141 45.83%, #0B1F1F 45.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 3;
  bottom: -45%;
  left: 25%;
}

.toward {
  padding: 196px 0 164px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), #FFCCBC;
  background-image: url("../images/toward/background-toward.png");
  text-align: center;
}
.toward__title {
  font-family: "Motter";
  font-size: 80px;
  font-weight: 400;
  line-height: 96px;
  color: #fff;
  max-width: 747px;
  margin: 0px auto;
}
.toward__description {
  color: #fff;
  font-family: "Nunito Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  max-width: 747px;
  margin: 0px auto;
  padding: 24px 0 24px;
}
.toward__description span {
  font-weight: 800;
}

.choose {
  padding: 118px 0 85px;
  position: relative;
  background-color: #0B4141;
}
.choose .container-choose {
  display: flex;
  justify-content: space-between;
}
.choose__image {
  position: absolute;
  bottom: 0;
  right: 0;
}
.choose__title {
  font-family: "Nunito Sans";
  font-size: 68px;
  font-weight: 900;
  line-height: 72px;
  color: #FFCCBC;
  max-width: 406px;
}
.choose__description {
  font-family: "Nunito Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #FFCCBC;
  max-width: 413px;
  padding: 32px 0 48px;
}
.choose__link {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFCCBC;
  border: 1px solid #FFCCBC;
  padding: 14px 31px;
  border-radius: 110px;
}

.always {
  padding: 165px 0 96px;
}
.always__body {
  display: flex;
}
.always__body:first-child {
  padding-bottom: 118px;
}
.always__text {
  width: 50%;
}
.always__text:first-child {
  padding-right: 170px;
}
.always__text:nth-child(2) {
  padding-left: 170px;
}
.always__title {
  font-family: "Nunito Sans";
  font-size: 68px;
  font-weight: 900;
  line-height: 72px;
  color: #FFCCBC;
}
.always__description {
  font-family: "Nunito Sans";
  font-size: 24px;
  line-height: 32px;
  padding: 48px 0 32px;
}
.always__link {
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 600;
  color: #0B4141;
  display: flex;
  align-items: center;
}
.always__link img {
  padding-right: 16px;
}

.magic {
  padding-top: 117px;
  background-color: #E5E5E5;
}
.magic .container-magic {
  position: relative;
  padding-bottom: 371px;
}
.magic__title {
  font-family: "Motter";
  font-size: 80px;
  font-weight: 400;
  text-align: center;
  color: #FFCCBC;
}
.magic__description {
  font-family: "Nunito Sans";
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #0B4141;
  padding-top: 24px;
  max-width: 832px;
  margin: 0px auto;
}
.magic__description span {
  font-weight: 700;
}
.magic img {
  position: absolute;
  bottom: 0;
}

.each {
  padding: 100px 0 188px;
  background-image: url("../images/each/background-each.png");
  background-repeat: no-repeat;
}
.each .container-each {
  display: flex;
  position: relative;
  justify-content: flex-end;
  padding-bottom: 127px;
}
.each__images img {
  position: absolute;
}
.each__images img:nth-child(1) {
  top: 0;
  left: 5%;
}
.each__images img:nth-child(2) {
  top: 55%;
  left: 31%;
}
.each__images img:nth-child(3) {
  bottom: -26%;
  left: 0%;
}
.each__text {
  max-width: 506px;
}
.each__title {
  font-family: "Nunito Sans";
  font-size: 68px;
  font-weight: 900;
  line-height: 72px;
  color: #0B4141;
}
.each__description {
  font-family: "Nunito Sans";
  font-size: 24px;
  line-height: 32px;
  color: #0B4141;
  padding: 32px 0 48px;
}
.each__button {
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #0B4141;
  border-radius: 100px;
  color: #0B4141;
  padding: 14px 39px;
}

.exist {
  background: linear-gradient(-51.34deg, #FFCCBC 10.28%, #FFFFFF 64.41%);
  opacity: 0.9;
  padding: 152px 0 93px;
}
.exist .container-exist {
  display: flex;
  position: relative;
}
.exist__text {
  max-width: 472px;
}
.exist__logo {
  text-align: center;
}
.exist__title {
  font-family: "Nunito Sans";
  font-size: 68px;
  font-weight: 900;
  line-height: 72px;
  padding: 32px 0;
}
.exist__description {
  font-family: Nunito Sans;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #0B4141;
  padding-bottom: 32px;
}
.exist__description span {
  font-weight: 800;
}
.exist__button {
  font-family: "Motter";
  font-size: 18px;
  font-weight: 700;
  color: #0B4141;
  padding: 14px 29px;
  border: 2px solid #0B4141;
  border-radius: 100px;
}
.exist__image {
  position: absolute;
  right: -10%;
  top: -34.5%;
}/*# sourceMappingURL=style.css.map */