@import 'scss/reset.scss';
@import 'scss/fonts';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&family=Roboto:wght@400;700&display=swap');

.container {
  max-width: 1242px;
  margin: 0px auto;
  padding: 0 15px;
}

.button {
  border-radius: 24px;
  border: none;
  cursor: pointer;
}

// header

.header {
  padding: 17px 0;

  .container-header {
    display: flex;
    justify-content: space-between;
  }

  &__logo-link {
    font-size: 26px;
    color: $mainColor;
    font-family: $mainFont;
    font-weight: 400;
  }

  &__navigation {
    display: flex;
    align-items: center;
  }


  .nav {

    &__list {
      display: flex;
      gap: 24px;
    }

    &__link {
      font-family: $secondFont;
      font-size: 16px;
      font-weight: 600;

      color: $mainColor;
    }
  }

  &__button {
    color: $secondColor;
    background-color: $mainColor;

    margin-left: 48px;
    padding: 12px 43px;
  }


}


// hero

.hero {
  position: relative;
  background-image: url('../images/hero/background-hero.png');
  background-repeat: no-repeat;

  padding: 120px 0 467px;

  .container-hero {

    img {
      position: absolute;
      bottom: 0%;
    }

  }

  &__title {
    color: #FFCCBC;
    font-family: $mainFont;
    font-size: 120px;

    text-align: center;
    margin: 0px auto;
    max-width: 747px;
    position: relative;

    span {
      position: absolute;
      background: linear-gradient(180deg, #0B4141 45.83%, #0B1F1F 45.84%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      z-index: 3;
      bottom: -45%;
      left: 25%;
    }
  }
}


// toward

.toward {
  padding: 196px 0 164px;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), #FFCCBC;
  background-image: url('../images/toward/background-toward.png');

  text-align: center;

  &__title {
    font-family: $mainFont;
    font-size: 80px;
    font-weight: 400;
    line-height: 96px;
    color: $white;

    max-width: 747px;
    margin: 0px auto;
  }

  &__description {
    color: $white;
    font-family: $secondFont;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;

    max-width: 747px;
    margin: 0px auto;
    padding: 24px 0 24px;

    span {
      font-weight: 800;
    }
  }
}


// choose

.choose {
  padding: 118px 0 85px;
  position: relative;

  background-color: $mainColor;
  // background-image: url('../images/choose/unicorne-choose.png');
  // background-repeat: no-repeat;
  // background-position: 100% 7px;

  .container-choose {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__title {
    font-family: $secondFont;
    font-size: 68px;
    font-weight: 900;
    line-height: 72px;

    color: $secondColor;

    max-width: 406px;
  }

  &__description {
    font-family: $secondFont;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;

    color: $secondColor;

    max-width: 413px;
    padding: 32px 0 48px;
  }

  &__link {
    font-family: $secondFont;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

    color: $secondColor;

    border: 1px solid $secondColor;
    padding: 14px 31px;
    border-radius: 110px;
  }


}


// always

.always {
  padding: 165px 0 96px;

  &__body {
    display: flex;

    &:first-child {
      padding-bottom: 118px;
    }
  }

  &__text {
    width: 50%;

    &:first-child {
      padding-right: 170px;
    }

    &:nth-child(2) {
      padding-left: 170px;
    }
  }

  &__title {
    font-family: $secondFont;
    font-size: 68px;
    font-weight: 900;
    line-height: 72px;

    color: $secondColor;
  }

  &__description {
    font-family: $secondFont;
    font-size: 24px;
    line-height: 32px;

    padding: 48px 0 32px;
  }

  &__link {
    font-family: $secondFont;
    font-size: 16px;
    font-weight: 600;

    color: $mainColor;
    display: flex;
    align-items: center;

    img {
      padding-right: 16px;
    }
  }
}


// magic

.magic {
  padding-top: 117px;

  background-color: #E5E5E5;

  .container-magic {
    position: relative;
    padding-bottom: 371px;
  }

  &__title {
    font-family: $mainFont;
    font-size: 80px;
    font-weight: 400;

    text-align: center;
    color: $secondColor;
  }

  &__description {
    font-family: $secondFont;
    font-size: 24px;
    line-height: 32px;
    text-align: center;

    color: $mainColor;

    padding-top: 24px;
    max-width: 832px;
    margin: 0px auto;

    span {
      font-weight: 700;
    }
  }

  img {
    position: absolute;
    bottom: 0;
  }
}


// each

.each {
  padding: 100px 0 188px;

  background-image: url('../images/each/background-each.png');
  background-repeat: no-repeat;

  .container-each {
    display: flex;
    position: relative;
    justify-content: flex-end;
    padding-bottom: 127px;
  }

  &__images {

    img {
      position: absolute;

      &:nth-child(1) {
        top: 0;
        left: 5%;
      }

      &:nth-child(2) {
        top: 55%;
        left: 31%;
      }

      &:nth-child(3) {
        bottom: -26%;
        left: 0%;
      }

    }
  }

  &__text {
    max-width: 506px;
  }

  &__title {
    font-family: $secondFont;
    font-size: 68px;
    font-weight: 900;
    line-height: 72px;

    color: $mainColor;
  }

  &__description {
    font-family: $secondFont;
    font-size: 24px;
    line-height: 32px;

    color: $mainColor;

    padding: 32px 0 48px;
  }

  &__button {
    font-family: $secondFont;
    font-size: 18px;
    font-weight: 700;

    border: 2px solid $mainColor;
    border-radius: 100px;
    color: $mainColor;

    padding: 14px 39px;
  }

}


// exist

.exist {
  background: linear-gradient(-51.34deg, #FFCCBC 10.28%, #FFFFFF 64.41%);
  opacity: 0.9;

  padding: 152px 0 93px;

  .container-exist {
    display: flex;
    position: relative;
  }

  &__text {
    max-width: 472px;
  }

  &__logo {
    text-align: center;
  }

  &__title {
    font-family: $secondFont;
    font-size: 68px;
    font-weight: 900;
    line-height: 72px;

    padding: 32px 0;
  }

  &__description {
    font-family: $secondFont;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;

    color: $mainColor;

    padding-bottom: 32px;

    span {
      font-weight: 800;
    }
  }

  &__button {
    font-family: $secondFont;
    font-size: 18px;
    font-weight: 700;

    color: $mainColor;

    padding: 14px 29px;
    border: 2px solid $mainColor;
    border-radius: 100px;
  }

  &__image {
    position: absolute;

    right: -10%;
    top: -34.5%;
  }
}


// footer

.footer {
  padding: 236px 0 251px;
  background-color: $mainColor;
  text-align: center;

  &__title {
    font-family: $mainFont;
    font-size: 80px;
    line-height: 96px;

    color: $secondColor;
  }

  &__links {
    display: flex;
    gap: 48px;
    justify-content: center;
    padding-top: 48px;
  }

  &__link {
    display: flex;
    align-items: center;

    font-family: $secondFont;
    font-size: 16px;
    font-weight: 600;

    color: $secondColor;

    border: 2px solid $secondColor;
    border-radius: 300px;
    padding: 21px 30px;

    img {
      margin-right: 12px;
    }
  }
}