@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&family=Roboto:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.2s;
}

button {
  transition: 0.2s;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
}

@font-face {
  font-family: "Motter";
  src: url("../fonts/MotterCorpusStd-Regular.eot");
  src: local("☺"), url("../fonts/MotterCorpusStd-Regular.woff") format("woff"), url("../fonts/MotterCorpusStd-Regular.ttf") format("truetype"), url("../fonts/MotterCorpusStd-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 1242px;
  margin: 0px auto;
  padding: 0 15px;
}

.button {
  border-radius: 24px;
  border: none;
  cursor: pointer;
}

.header {
  padding: 17px 0;
}
.header .container-header {
  display: flex;
  justify-content: space-between;
}
.header__logo-link {
  font-size: 26px;
  color: #0B4141;
  font-family: "Motter";
  font-weight: 400;
}
.header__navigation {
  display: flex;
  align-items: center;
}
.header .nav__list {
  display: flex;
  gap: 24px;
}
.header .nav__link {
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 600;
  color: #0B4141;
}
.header__button {
  color: #FFCCBC;
  background-color: #0B4141;
  margin-left: 48px;
  padding: 12px 43px;
}

.hero {
  position: relative;
  background-image: url("../images/hero/background-hero.png");
  background-repeat: no-repeat;
  padding: 120px 0 467px;
}
.hero .container-hero img {
  position: absolute;
  bottom: 0%;
}
.hero__title {
  color: #FFCCBC;
  font-family: "Motter";
  font-size: 120px;
  text-align: center;
  margin: 0px auto;
  max-width: 747px;
  position: relative;
}
.hero__title span {
  position: absolute;
  background: linear-gradient(180deg, #0B4141 45.83%, #0B1F1F 45.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 3;
  bottom: -45%;
  left: 25%;
}

.toward {
  padding: 196px 0 164px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), #FFCCBC;
  background-image: url("../images/toward/background-toward.png");
  text-align: center;
}
.toward__title {
  font-family: "Motter";
  font-size: 80px;
  font-weight: 400;
  line-height: 96px;
  color: #fff;
  max-width: 747px;
  margin: 0px auto;
}
.toward__description {
  color: #fff;
  font-family: "Nunito Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  max-width: 747px;
  margin: 0px auto;
  padding: 24px 0 24px;
}
.toward__description span {
  font-weight: 800;
}

.choose {
  padding: 118px 0 85px;
  background-color: #0B4141;
  background-image: url("../images/choose/unicorne-choose.png");
  background-repeat: no-repeat;
  background-position: 100% 7px;
}
.choose .container-choose {
  display: flex;
  justify-content: space-between;
}
.choose__title {
  font-family: "Nunito Sans";
  font-size: 68px;
  font-weight: 900;
  line-height: 72px;
  color: #FFCCBC;
  max-width: 406px;
}
.choose__description {
  font-family: "Nunito Sans";
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #FFCCBC;
  max-width: 413px;
  padding: 32px 0 48px;
}
.choose__link {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #FFCCBC;
  border: 1px solid #FFCCBC;
  padding: 14px 31px;
  border-radius: 110px;
}/*# sourceMappingURL=style.css.map */